_runtime/
sega_net_MJ/
allresourse/
JanQcore/

*.zip
*.log
*.jsonl
*.pyc
*.pyo
*.pyd
__pycache__/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.eggs/
*.egg-info/

.venv/
venv/
env/

build/
dist/
bin/
obj/
.vs/

game_statistics.json
*.exe
*.dll
*.pdb
*.user
*.suo
*.tmp
*.working
